In [1]:
list1 = [i*i for i in range(10)]
list2 = [i*2 for i in range(10)]
print(list1)
print(list2)

[0, 1, 4, 9, 16, 25, 36, 49, 64, 81]
[0, 2, 4, 6, 8, 10, 12, 14, 16, 18]

In [2]:
list3 = list1
list3.append(list2)
print("list3: " + str(list3))
print("list2: " + str(list2))
print("list1: " + str(list1))

list3: [0, 1, 4, 9, 16, 25, 36, 49, 64, 81, [0, 2, 4, 6, 8, 10, 12, 14, 16, 18]]
list2: [0, 2, 4, 6, 8, 10, 12, 14, 16, 18]
list1: [0, 1, 4, 9, 16, 25, 36, 49, 64, 81, [0, 2, 4, 6, 8, 10, 12, 14, 16, 18]]

In [3]:
list2[1] = 333
print("list3: " + str(list3))
print("list2: " + str(list2))
print("list1: " + str(list1))

list3: [0, 1, 4, 9, 16, 25, 36, 49, 64, 81, [0, 333, 4, 6, 8, 10, 12, 14, 16, 18]]
list2: [0, 333, 4, 6, 8, 10, 12, 14, 16, 18]
list1: [0, 1, 4, 9, 16, 25, 36, 49, 64, 81, [0, 333, 4, 6, 8, 10, 12, 14, 16, 18]]

In [4]:
list3[10][2] = 444
print("list3: " + str(list3))
print("list2: " + str(list2))
print("list1: " + str(list1))

list3: [0, 1, 4, 9, 16, 25, 36, 49, 64, 81, [0, 333, 444, 6, 8, 10, 12, 14, 16, 18]]
list2: [0, 333, 444, 6, 8, 10, 12, 14, 16, 18]
list1: [0, 1, 4, 9, 16, 25, 36, 49, 64, 81, [0, 333, 444, 6, 8, 10, 12, 14, 16, 18]]

In [5]:
list1 = [i*i for i in range(10)]
list2 = [i*2 for i in range(10)]
list3 = list1
list3.extend(list2)
print("list3: " + str(list3))
print("list2: " + str(list2))
print("list1: " + str(list1))

list3: [0, 1, 4, 9, 16, 25, 36, 49, 64, 81, 0, 2, 4, 6, 8, 10, 12, 14, 16, 18]
list2: [0, 2, 4, 6, 8, 10, 12, 14, 16, 18]
list1: [0, 1, 4, 9, 16, 25, 36, 49, 64, 81, 0, 2, 4, 6, 8, 10, 12, 14, 16, 18]

In [6]:
list4 = list1[:]
list4[2] = 100
print("list4: " + str(list4))
print("list3: " + str(list3))
print("list2: " + str(list2))
print("list1: " + str(list1))

list4: [0, 1, 100, 9, 16, 25, 36, 49, 64, 81, 0, 2, 4, 6, 8, 10, 12, 14, 16, 18]
list3: [0, 1, 4, 9, 16, 25, 36, 49, 64, 81, 0, 2, 4, 6, 8, 10, 12, 14, 16, 18]
list2: [0, 2, 4, 6, 8, 10, 12, 14, 16, 18]
list1: [0, 1, 4, 9, 16, 25, 36, 49, 64, 81, 0, 2, 4, 6, 8, 10, 12, 14, 16, 18]

In [7]:
datum = 1, 2, 2020
type(datum)

tuple

In [8]:
datum

(1, 2, 2020)

In [12]:
(tag, monat, jahr) = datum
print(monat)
print(datum[1])

2
2