In [1]:
var1 = 3
var2 = 4
var3 = 24

print(var1*var2+var3)

36

In [2]:
print(var2)

4

In [3]:
var4=var1*var2+var3
print(var4)

36

In [19]:
list1 = ["ein", "Wort", 4, 5, "Zahlen", 3.5, 1/3]
print(list1)

['ein', 'Wort', 4, 5, 'Zahlen', 3.5, 0.3333333333333333]

In [10]:
for i in list1:
    if type(i) == str: print(i)

ein
Wort
Zahlen

In [13]:
for i in list1:
    if type(i) == int: print(i)

4
5

In [20]:
for i in list1:
    print(type(i))

<class 'str'>
<class 'str'>
<class 'int'>
<class 'int'>
<class 'str'>
<class 'float'>
<class 'float'>

In [27]:
list2 = [i*i for i in range(2,8)] # list comprehension
print(list2)

[4, 9, 16, 25, 36, 49]