In [1]:
var1 = 3
var2 = 4
var3 = 24

print(var1*var2+var3)

36

In [2]:
print(var2)

4

In [3]:
var4=var1*var2+var3
print(var4)

36

In [19]:
list1 = ["ein", "Wort", 4, 5, "Zahlen", 3.5, 1/3]
print(list1)

['ein', 'Wort', 4, 5, 'Zahlen', 3.5, 0.3333333333333333]

In [10]:
for i in list1:
    if type(i) == str: print(i)

ein
Wort
Zahlen

In [13]:
for i in list1:
    if type(i) == int: print(i)

4
5

In [20]:
for i in list1:
    print(type(i))

<class 'str'>
<class 'str'>
<class 'int'>
<class 'int'>
<class 'str'>
<class 'float'>
<class 'float'>

In [28]:
list2 = [i*i for i in range(2,10)] # list comprehension
list2 *= 3
print(list2)

[4, 9, 16, 25, 36, 49, 64, 81, 4, 9, 16, 25, 36, 49, 64, 81, 4, 9, 16, 25, 36, 49, 64, 81]

In [36]:
list2.count(36)

3

In [38]:
len(list2)

24

In [47]:
list3 = [i**3 for i in range(2,8)]
list3 += list2

In [43]:
len(list3)

30

In [48]:
print(list3)

[8, 27, 64, 125, 216, 343, 4, 9, 16, 25, 36, 49, 64, 81, 4, 9, 16, 25, 36, 49, 64, 81, 4, 9, 16, 25, 36, 49, 64, 81]

In [52]:
klein = 0
groß = 0
for i in list3:
    if i < 50:
        klein += 1
    else:
        groß += 1
print("Kleiner 50: " + str(klein))
print("Größer gleich 50: " + str(groß))

Kleiner 50: 20
Größer gleich 50: 10

In [54]:
33 in list3

False

In [55]:
25 in list3

True